@model SacramentMeetingPlanner.Models.Member

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Member</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MemberId" />
            <div class="form-group">
                <label asp-for="MemberFull" class="control-label"></label>
                <input asp-for="MemberFull" class="form-control" />
                <span asp-validation-for="MemberFull" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birth" class="control-label"></label>
                <input asp-for="Birth" class="form-control" />
                <span asp-validation-for="Birth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-15">
                    <label class="control-label" for="calling">Calling</label>
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                List<SacramentMeetingPlanner.Models.PlannerViewModels.AssignedMemberData> callings = ViewBag.Callings;

                                foreach (var calling in callings)
                                {
                                    if (cnt++ % 2 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               id="calling"
                                               onclick="return checkLimit()"
                                               name="selectedCallings"
                                               value="@calling.CallingId"
                                               @(Html.Raw(calling.Assigned ? "checked=\"checked\"" : "")) />
                                        @calling.CallingName
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>    

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
