@model SacramentMeetingPlanner.Models.Planner

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Planner</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PlannerId" />
            <div class="form-group">
                <label asp-for="PlannedDate" class="control-label"></label>
                <input asp-for="PlannedDate" class="form-control" />
                <span asp-validation-for="PlannedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="President" class="control-label"></label>
                <input asp-for="President" class="form-control" />
                <span asp-validation-for="President" class="text-danger"></span>
            </div>
            <!-- <div class="form-group">
        <label asp-for="OpeningHymn" class="control-label"></label>
        <input asp-for="OpeningHymn" class="form-control" />
        <span asp-validation-for="OpeningHymn" class="text-danger"></span>
    </div> -->
            <div class="form-group">
                <label class="control-label">Opening Hymn</label>
                <select class="form-control hymnNames" required>
                    <option value="" disabled selected>-- Select a Hymn --</option>
                </select>
            </div>
            <!-- <div class="form-group">
         <label asp-for="SacramentHymn" class="control-label"></label>
         <input asp-for="SacramentHymn" class="form-control" />
         <span asp-validation-for="SacramentHymn" class="text-danger"></span>
     </div> -->
            <div class="form-group">
                <label class="control-label">Sacrament Hymn</label>
                <select class="form-control hymnNames" required>
                    <option value="" disabled selected>-- Select a Hymn --</option>
                </select>
            </div>
            <!-- <div class="form-group">
        <label asp-for="ClosingHymn" class="control-label"></label>
        <input asp-for="ClosingHymn" class="form-control" />
        <span asp-validation-for="ClosingHymn" class="text-danger"></span>
    </div> -->
            <div class="form-group">
                <label class="control-label">Closing Hymn</label>
                <select class="form-control hymnNames" required>
                    <option value="" disabled selected>-- Select a Hymn --</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function () {
            $.getJSON('/hymns.json', function (hymn) {
                $.each(hymn, function (i, emp) {
                    $("#hymnNames").append('<li>' + emp.name + '</li>');
                });

            }).error(function () {
                console.log('error');
            });
        });

    </script>
}
