@model SacramentMeetingPlanner.Models.Planner

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Planner</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PlannerId" />
            <div class="form-group">
                <label asp-for="PlannedDate" class="control-label"></label>
                <input asp-for="PlannedDate" class="form-control" />
                <span asp-validation-for="PlannedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conducting" class="control-label"></label>
                <input asp-for="Conducting" class="form-control" />
                <span asp-validation-for="Conducting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Opening Hymn</label>
                <select asp-for="OpeningHymn" class="form-control hymnNames" required>
                    <option value="" disabled selected>-- Select a Hymn --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Invocation" class="control-label"></label>
                <input asp-for="Invocation" class="form-control" />
                <span asp-validation-for="Invocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Sacrament Hymn</label>
                <select asp-for="SacramentHymn" class="form-control hymnNames" required>
                    <option value="" disabled selected>-- Select a Hymn --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Topic" class="control-label"></label>
                <input asp-for="Topic" class="form-control" />
                <span asp-validation-for="Topic" class="text-danger"></span>
            </div>
            @foreach (var planner in Model.Planner_Members)
            {
                List<SacramentMeetingPlanner.Models.PlannerViewModels.AssignedPlannerData> members = ViewBag.Members;
                    <div class="form-group">
                        <label class="control-label">Speaker</label>
                        <select class="form-control" id="speaker" name="selectedMembers">
                            <option value="@planner.MemberId">@planner.Member.MemberFull</option>
                            @foreach (var member in members)
                            {
                                <option value="@member.MemberId">@member.MemberName</option>
                            }
                        </select>
                    </div>
                    
                }
                <div class="form-group">
                    <label class="control-label">Closing Hymn</label>
                    <select asp-for="ClosingHymn" class="form-control hymnNames" required>
                        <option value="" disabled selected>-- Select a Hymn --</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Benediction" class="control-label"></label>
                    <input asp-for="Benediction" class="form-control" />
                    <span asp-validation-for="Benediction" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(function () {
        $.getJSON('/hymns.json', function (hymn) {
            $.each(hymn, function (i, emp) {
                $(".hymnNames").append('<option>' + emp.songNumber + ' ' + emp.name + '</option>');
            });

        }).error(function () {
            console.log('error');
        });
    });
</script>
}
